body {
    font-family: 'Raleway';

}

.header {
    height: 30rem;
    left: -1px;
    right: -1px;
    top: -1px;
    padding: 10rem;
    position: absolute;
    text-align: center;
    border-bottom: solid 15px white;
    background-image:linear-gradient(rgba(33, 47, 15, 0.233),rgba(33, 47, 15, 0.233)),url(../images/ymount.jpg);
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
    color: white;
    text-transform: uppercase;
}
.title {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}
.upper-title {
    display:block;
    font-size:2rem;
    font-weight:800
}

ul {
    position: relative;
    top:4rem;
    list-style-type: none;
    background-color:#080F21;
    line-height: 3rem;
    float: auto;
    width: 100%;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    color: rgba(255,255,255,.7);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.9rem;
  }

  li a:hover {
      color:rgba(255,255,255,.4);
      text-decoration: none;
  }

  .active {
      color:#7EA1C1;
  }

.mainbody{
    background-color:  rgba(255,255,255,.7);
    padding-top: 30rem;
    text-align: center;
    text-transform: uppercase;
}

.body-title {
    font-size: 3rem;
    font-weight: 200;
    line-height: 4rem;
 }

.body-upper-title {
    display:block;
    font-size:1rem;
    font-weight:600;
    line-height: 2rem;
}
.caption {
    text-transform: none;
    font-family: 'Raleway';
    font-size: 1.5rem;
}

.viz2, .viz4 {
    background-color: #7EA1C1;
    padding: 10px;
    border-top: solid skyblue 5px;
    border-bottom: solid lightgray 5px;
}

.myfooter {
    position: absolute;
    top: 220rem;
    bottom:-1px;
    left: -1px;
    right: -1px;
    background-color:rgb(33, 47, 15);
    color:rgba(255,255,255,.7);
}

.link{
    text-transform: none;
    color:white;
}