li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a{
    color:#7EA1C1;
    text-decoration: none;
}


.resumehead {
    list-style-type: none;
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    font-family: 'Raleway';
}

.nav {
    font-style: normal;
}

p {
    text-align: left;
}

.text-faded {
    color:rgba(255, 255, 255, 0.452);
    float: auto;
}

.about {
    width: 900px;
}

.video {
    width: 900px;
    height: 508px;
}

.italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.social{
    font-weight: bold;
    font-style: normal;
    font-size: 1.5rem;
    font-family: 'Raleway';
}
